# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Caches
.pytest_cache/
.oxlintcache

# Environments
.env
.venv
venv/
ENV/
env/

# IDE files
.idea/
.vscode/

# Local database / test artifacts
*.pdf
*.log
firebase-adminsdk.json
